@use 'ngx-tethys/styles/variables.scss' as variables;

.thy-board {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    overflow: auto;
    background: variables.$gray-80;

    .thy-board-container {
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        min-height: 100%;
        width: fit-content;
        min-width: 100%;
    }

    .board-body {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        &.board-single-swimlane {
            .thy-board-lane-container {
                height: 100%;
                .thy-entry-container .entry-cards {
                    display: flex;
                    height: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
        }
    }
}
