@use 'ngx-tethys/styles/variables.scss' as variables;

.thy-board-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .board-body {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        &.board-single-swimlane {
            .thy-board-lane-container {
                height: 100%;
                .thy-entry-container .entry-cards {
                    display: flex;
                    height: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
        }
    }
}
