@use 'ngx-tethys/styles/variables.scss' as variables;
@use './variables.scss' as board;

.thy-entry-container {
    display: block;
    height: 100%;
    position: relative;

    &.board-lane-body-entry {
        width: 320px;
        border-right: 1px solid variables.$gray-200;

        &:first-child {
            margin-left: 0px;
        }
        &.board-lane-body-entry-is-empty {
            min-height: 200px;
        }
        &.board-lane-body-entry-is-collapsed {
            height: 64px;
            line-height: 64px;
            border-right: none;
        }
    }

    &.thy-entry-collapsed {
        width: 49px;
        min-width: 49px;
        border-right: none;
        visibility: hidden;
        * {
            visibility: hidden;
        }
        .entry-collapsed {
            display: inline-block;
        }
    }

    .entry-body {
        position: relative;
        height: 100%;
        position: sticky;
        top: 0;
        &.entry-body-multi-lanes {
            position: sticky;
            top: 0;
        }

        .entry-cards {
            display: flex;
            flex-direction: column;
            height: 100%;
            .cdk-virtual-scrollable {
                overflow-x: hidden;
            }
            .entry-card {
                padding: 8px 8px 0 8px;
                &:last-child {
                    padding-bottom: 8px;
                }
                .cdk-drag-placeholder {
                    background: transparent !important;
                    border-color: transparent;
                }
            }

            &.entry-cards-dragging {
                visibility: hidden;
            }
        }
        .entry-state {
            height: 100%;
        }
        &.droppable {
            display: flex;
            flex-direction: column;
            padding: 0;
            height: 100%;
            background: variables.$gray-80;
            .entry-cards {
                height: 0;
            }
        }

        .entry-viewport {
            overflow: hidden;
        }
    }

    .entry-drop {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: -1px;
        margin-top: -1px;
        width: calc(100% + 2px);
        height: 100%;
        padding-top: 10px;
        padding-left: 20px;
        border: dashed 1px variables.$gray-400;
        background: variables.$gray-80;
        z-index: 2;

        &.cdk-drop-list-dragging {
            background: rgba(variables.$primary, 0.1);
            border-color: variables.$primary;
            z-index: 3;
            .dragging-text-color {
                color: variables.$primary !important;
            }
        }
        .cdk-drag-placeholder {
            display: none;
        }
    }

    .other-height {
        flex: 0;
    }
}
