@use '~ngx-tethys/styles/variables.scss';

:host {
    display: block;
    width: 420px;
    padding: 30px;
    background-color: variables.$white;
    border-radius: 10px;

    .panel-title {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 16px;
    }

    .panel-description {
        margin-bottom: 16px;
    }

    .panel-copyright {
        width: 100%;
        margin-top: 40px;
        font-size: 0.75rem;
        text-align: center;
    }
}
