@use 'ngx-tethys/styles/basic.scss';

.thy-pro-sidebar {
    background: basic.$dark;
    .thy-layout-sidebar &-header {
        min-height: 70px;

        .header-logo {
            width: 30px;
            height: 30px;
        }

        .header-title {
            margin-left: 10px;
            font-size: 18px;
            color: basic.$white;
            display: inline-block;
        }
    }
    .thy-popover-origin-active,
    &-menu-group.active {
        background: basic.$menu-theme-dark-hover-bg-color;
    }

    .thy-pro-sidebar-submenu.thy-menu-group {
        .thy-menu-group-header .thy-menu-group-title {
            color: basic.$gray-300;
        }
    }

    .sidebar-footer {
        border-top: none;
    }
}
