@use 'ngx-tethys/styles/basic.scss';
@forward '../audio-player.scss';

.thy-media-player {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    .media-content {
        width: 100%;
        height: 100%;
    }
    .error-tip {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        color: basic.$white;
        font-size: 14px;
        text-align: center;
    }
}
.thy-video-player,
.thy-audio-player {
    audio::-moz-media-controls-panel {
        background-color: basic.$gray-100;
    }
    audio::-webkit-media-controls-panel {
        background-color: basic.$gray-100;
    }

    audio::-webkit-media-controls-play-button:hover {
        background-color: rgba(basic.$gray-300, 0.7);
        border-radius: 50%;
    }
}
