@use 'ngx-tethys/styles/basic.scss';
@mixin progress-type($color) {
    .thy-media-progress-rail {
        background-color: basic.$gray-200;
        .thy-media-progress-track {
            background-color: $color;
        }
        .thy-media-progress-pointer {
            background-color: $color;
        }
    }
}

.thy-media-progress {
    .thy-media-progress-rail {
        cursor: pointer;
        position: relative;
        background-color: basic.$gray-400;
        height: 6px;
        border-radius: 5px;
        .thy-media-progress-track {
            z-index: 1;
            position: absolute;
            border-radius: 5px;
            height: 6px;
            background-color: basic.$white;
        }
        .thy-media-progress-buffer {
            position: absolute;
            border-radius: 5px;
            height: 6px;
            background-color: basic.$gray-200;
        }
        .thy-media-progress-pointer {
            position: absolute;
            top: -3px;
            right: -6px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: basic.$white;
            transition: all 0.3s ease-in-out;
        }
    }

    &.thy-media-progress-primary {
        @include progress-type(basic.$primary);
    }
    &.thy-media-progress-success {
        @include progress-type(basic.$success);
    }
    &.thy-media-progress-info {
        @include progress-type(basic.$info);
    }
    &.thy-media-progress-warning {
        @include progress-type(basic.$warning);
    }
    &.thy-media-progress-danger {
        @include progress-type(basic.$danger);
    }
}
