@use 'ngx-tethys/styles/basic.scss';

.thy-audio-player,
.thy-media-player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .audio-content {
        width: 50%;
        .audio {
            width: 100%;
        }
        .error-tip {
            position: unset;
            transform: none;
            margin-top: 20px;
            color: basic.$white;
            font-size: 16px;
        }
    }
}
