<div thyFlex thyDirection="row" [thyGap]="8">
  <div thyFlexItem>
    <thy-card thyDivided="true">
      <thy-card-header thyTitle="Card title"> </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>
  </div>
  <div thyFlexItem>
    <thy-card thyDivided="true">
      <thy-card-header thyTitle="Card title"> </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>
  </div>
  <div thyFlexItem>
    <thy-card thyDivided="true">
      <thy-card-header thyTitle="Card title"> </thy-card-header>
      <thy-card-content>
        Card content<br />
        Card content
      </thy-card-content>
    </thy-card>
  </div>
  <thy-card thyFlexItem thyDivided="true">
    <thy-card-header thyTitle="Card title"> </thy-card-header>
    <thy-card-content>
      Card content<br />
      Card content
    </thy-card-content>
  </thy-card>
</div>
