@use '@docgeni/template/styles/index.scss' as docgeni;
@use 'ngx-tethys/styles/index.scss' as tethys;
@use '../../packages/components/styles/index.scss' as tethys-pro;
@use 'ngx-tethys/styles/variables.scss';

.dg-navbar {
    .navbar-brand {
        .title {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.dg-home {
    .dg-hero {
        .dg-hero-launch {
            align-items: start;
            padding-left: 12%;
            text-align: unset;
            .dg-launch-title {
                color: variables.$gray-600;
            }
            .dg-launch-action {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .dg-features {
            grid-gap: 30px 50px;
        }
    }
}
