.sso {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    > div {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    .wechat {
        background-image: url('../../../../assets/images/wechat.svg');
        &:hover {
            background-image: url('../../../../assets/images/wechat-hover.svg');
        }
    }
}
