<app-passport-panel heading="登录">
  <ng-template #description>
    @if (stepper.steps()[stepper.selectedIndex()] === step1) {
      通过帐号密码登录团队，或切换为 <a href="javascript:;" (click)="stepper.next()">手机验证码登录</a>
    }
    @if (stepper.steps()[stepper.selectedIndex()] === step2) {
      通过手机验证码登录团队，或切换为 <a href="javascript:;" (click)="stepper.previous()">帐号密码登录</a>
    }
  </ng-template>
  <thy-stepper #stepper [thyShowStepHeader]="false">
    <thy-step #step1>
      <form thyForm name="accountLoginForm" #accountLoginForm="thyForm" [thyFormValidatorConfig]="validateConfig">
        <thy-form-group thyLabelText="用户名" thyLabelRequired>
          <input
            thyInput
            thySize="lg"
            name="account"
            [(ngModel)]="model.account"
            required
            placeholder="请输入用户名（admin）"
            [thyAutofocus]="stepper.steps()[stepper.selectedIndex()] === step1"
          />
        </thy-form-group>
        <thy-form-group thyLabelText="密码" thyLabelRequired>
          <thy-input
            thySize="lg"
            type="password"
            name="password"
            [(ngModel)]="model.password"
            required
            placeholder="请输入密码（123456）"
          ></thy-input>
        </thy-form-group>
        <thy-form-group>
          <div class="d-flex justify-content-between">
            <label name="cacheAccount" thyCheckbox thyLabelText="记住帐号" [(ngModel)]="cacheAccount"></label>
            <a href="javascript:;">忘记帐号?</a>
          </div>
        </thy-form-group>
        <thy-form-group-error></thy-form-group-error>
        <thy-form-group>
          <button
            thyButton="primary"
            thySize="lg"
            [thyLoading]="saving"
            thyLoadingText="Login"
            (thyFormSubmit)="loginByAccount(accountLoginForm)"
            [thyBlock]="true"
          >
            登录
          </button>
        </thy-form-group>
      </form>
    </thy-step>
    <thy-step #step2>
      <form thyForm name="mobileLoginForm" #form="ngForm" #mobileLoginForm="thyForm" [thyFormValidatorConfig]="validateConfig">
        <thy-form-group thyLabelText="手机号" thyLabelRequired>
          <input
            thyInput
            thySize="lg"
            type="mobile"
            name="mobile"
            [(ngModel)]="model.mobile"
            required
            [pattern]="mobilePattern"
            placeholder="请输入手机号"
            [thyAutofocus]="stepper.steps()[stepper.selectedIndex()] === step2"
          />
        </thy-form-group>
        <thy-form-group thyLabelText="验证码" thyLabelRequired>
          <thy-input thySize="lg" type="code" name="code" [(ngModel)]="model.code" required placeholder="请输入验证码">
            <ng-template #append>
              <button [disabled]="!!form.controls.mobile.invalid" thyButton="primary" thySize="sm">获取验证码</button>
              <!-- <thy-countdown #countdown>
              <span class="countdown-progress"
                >已发送，<span class="text-primary"> {{ countdown.value }} </span> 秒后重新获取</span
                >
              </thy-countdown> -->
            </ng-template>
          </thy-input>
        </thy-form-group>
        <thy-form-group>
          <div class="d-flex justify-content-between">
            <label name="cacheAccount" thyCheckbox thyLabelText="记住帐号" [(ngModel)]="cacheAccount"></label>
            <a href="javascript:;">忘记帐号?</a>
          </div>
        </thy-form-group>
        <thy-form-group-error></thy-form-group-error>
        <thy-form-group>
          <button
            thyButton="primary"
            thySize="lg"
            [thyLoading]="saving"
            thyLoadingText="Login"
            (thyFormSubmit)="loginByMobile(mobileLoginForm)"
            [thyBlock]="true"
          >
            登录
          </button>
        </thy-form-group>
      </form>
    </thy-step>
  </thy-stepper>
  <thy-divider class="mt-10" [thyTextDirection]="'center'" thyText="第三方帐号登录"></thy-divider>
  <div class="sso">
    <div class="wechat"></div>
    <div class="wechat"></div>
    <div class="wechat"></div>
    <div class="wechat"></div>
  </div>
</app-passport-panel>
