/* You can add global styles to this file, and also import other style files */

@use '~ngx-tethys/styles/index.scss';
@use '../packages/components/src/styles/index.scss' as proComponents;

html,
body {
    height: 100%;
    overflow: hidden;
}

$menu-color: #fff;

.thy-menu {
    .thy-menu-group {
        .thy-menu-group-header {
            &:hover {
                background: #48525c;

                .thy-menu-group-title {
                    color: $menu-color;
                }
            }

            .thy-menu-group-title {
                color: $menu-color;
            }
        }
    }

    .thy-menu-item {
        &:hover {
            background: #48525c;

            .thy-menu-item-name {
                color: $menu-color;
            }
        }

        .thy-menu-item-content {
            &:hover {
                background: #48525c;
            }
        }

        .thy-menu-item-name {
            color: $menu-color;
        }

        &.active {
            .thy-menu-item-name {
                color: $menu-color;
            }
        }
    }
}

.content-main-header {
    padding: 20px;

    .input-search-container {
        width: 360px;
    }
}

.content-main-body {
    padding: 0 20px 20px 20px;
}
