<thy-pro-layout thyTitle="TETHYS PRO" thyLogo="assets/images/logo.svg">
  <ng-template #headerRightContent>
    <thy-actions thySize="xs">
      <a href="javascript:;" thyTooltip="通知" thyAction thyIcon="bell"></a>
      <a href="javascript:;" thyTooltip="帮助" thyAction> <thy-icon thyIconName="question-circle"></thy-icon> </a>
      <app-theme-selector></app-theme-selector>
      <a href="javascript:;" thyTooltip="设置" thyAction> <thy-icon thyIconName="settings"></thy-icon> </a>
    </thy-actions>
    <thy-avatar class="current-user" [thyName]="'Admin'" thySize="xs" [thyDropdown]="menu"></thy-avatar>
  </ng-template>
</thy-pro-layout>

<thy-dropdown-menu #menu>
  <a thyDropdownMenuItem href="javascript:;">
    <thy-icon thyIconName="user-bold" thyDropdownMenuItemIcon></thy-icon>
    <span thyDropdownMenuItemName>个人中心</span>
  </a>
  <a thyDropdownMenuItem href="javascript:;">
    <thy-icon thyIconName="settings" thyDropdownMenuItemIcon></thy-icon>
    <span thyDropdownMenuItemName>个人设置</span>
  </a>
  <thy-divider></thy-divider>
  <a thyDropdownMenuItem href="javascript:;" (click)="onLogout()">
    <thy-icon thyIconName="sign-out" thyDropdownMenuItemIcon></thy-icon>
    <span thyDropdownMenuItemName>退出登录</span>
  </a>
</thy-dropdown-menu>
