<thy-content-main>
  <div class="content-main-header d-flex">
    <div class="flex-grow-1">
      <thy-input-search
        name="search"
        [thySize]="''"
        placeholder="搜索用户(按Enter搜索)"
        (keydown.enter)="search()"
        [thySearchFocus]="true"
        [(ngModel)]="searchText"
      ></thy-input-search>
    </div>
    <thy-space>
      <button *thySpaceItem (click)="openAddUser()" thyIcon="plus" thyButton="primary">新建用户</button>
      <button *thySpaceItem thyButton="outline-default">导出用户</button>
    </thy-space>
  </div>
  <div class="content-main-body">
    <thy-table
      [thyModel]="userListStore.snapshot.entities"
      [thyTheme]="'bordered'"
      thyRowKey="id"
      [thyHoverDisplayOperation]="false"
      (thyOnRowClick)="onRowClick($event)"
      [thyWholeRowSelect]="true"
      [thyPageIndex]="userListStore.snapshot.pagination?.pageIndex!"
      [thyPageSize]="userListStore.snapshot.pagination?.pageSize!"
      [thyPageTotal]="userListStore.snapshot.pagination?.count!"
      [thyShowTotal]="true"
    >
      <thy-table-column thyTitle="姓名" thyModelKey="name"></thy-table-column>
      <thy-table-column thyTitle="邮箱" thyModelKey="email"></thy-table-column>
      <thy-table-column thyTitle="年龄" thyModelKey="age" thyHeaderClassName="text-center"></thy-table-column>
      <thy-table-column thyTitle="备注" thyModelKey="description" thyDefaultText="-"></thy-table-column>
      <thy-table-column thyTitle="" thyClassName="thy-operation-links">
        <ng-template #cell let-user>
          <a class="" href="javascript:;" (click)="deleteUser(user)">
            <thy-icon thyIconName="pen"></thy-icon>
          </a>
          <a class="link-danger-weak" href="javascript:;" (click)="deleteUser(user)">
            <thy-icon thyIconName="trash"></thy-icon>
          </a>
        </ng-template>
      </thy-table-column>
    </thy-table>
  </div>
</thy-content-main>
